<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon name="home-outline"></ion-icon> Home</ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-content>
  <ion-card>

    
      <h2>A warm
          welcome and lots of good wishes on becoming part of our growing team.
          Congratulations and on behalf of all the members. We are all happy and
          excited about your inputs and contribution to our group.</h2>
          <img src="{{ home.image }}" class="center">
          
  </ion-card>


</ion-content>--->

<ion-content>
<h2>A warm
  welcome and lots of good wishes on becoming part of our growing team.
  Congratulations and on behalf of all the members. We are all happy and
  excited about your inputs and contribution to our group.
</h2>
<ion-button (click)="NavigateToAbout()" class="bottom-right button button-positive icon-left ion-home" >GO TO ABOUT</ion-button>

  
</ion-content>
<ion-footer >
    <ion-toolbar>
      &nbsp;<ion-icon name="logo-facebook"></ion-icon>
      &nbsp;<ion-icon name="logo-linkedin"></ion-icon>
      &nbsp;<ion-icon name="logo-twitter"></ion-icon>
      <p>© 2020 Copyright All Rights Reserved</p>
    </ion-toolbar>
  </ion-footer>