ion-content{
    --background: #fff url('/assets/image/team.jpg') no-repeat center center / cover;
      opacity: 1;
    
}

h2 {
    color: #fff;
    font-style: italic;
    font-size: 25px;
    text-align: center ;
    margin:0;
    padding:0;
    position:absolute;
    bottom:200px;

  }

  .bottom-right {
    position:absolute;
    bottom: 0;
    right: 0;

  }
  p {
    text-align: center;
    font-size: 10px;
}
ion-icon{
 
}